
.root {
  justify-content: center;
  flex-wrap: wrap;
  }

.topBar {
  color: black !important;
  background-color: #f8f9fa !important;
  box-shadow: none !important;
}  

.menu-button {
  margin-right: 2px;
}  

.title {
  flex-grow: 1;
}
.actionBtn {
  padding: 1em !important; 
  margin: 15px !important; 
}

.countBtn {
  margin: 10px !important;
}

.count-sec {
  padding-left: 2em;
}

.action-sec {
  padding-left: 1em;
}

.refreshBtn {
  color: #fff !important;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.singlRow {
  display: flex;
}

tr, td {
  border:none !important;
}

.countChip {
  color: #212529 !important;
  background-color: #ffc107 !important;
  display: inline-block !important;
  padding: 0.25em 0.4em !important;
  font-size: 75% !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  text-align: center !important;
  white-space: nowrap !important;
  vertical-align: baseline !important;
  border-radius: 0.25rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !important;
}

.countChip span {
  font-size: 24px !important;
}

#chip-td {
  width: 10% !important;
}

.activeChip {
  color: #fff !important;
  background-color: #007bff !important;
}